{
  "semi": true,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-import-sort"]
}
